<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<h3>
  All Events Created By:
  <%= @user.name %>
</h3>

<div class="row">
  <%= displaylist(@user_events)%>
</div>

<h3>
  All Upcoming events Reserved By:
  <%= @user.name %>
</h3>

<div class="row">
  <%= displaylist(@upcoming_events)%>
</div>

<h3>
  All past events Reserved By:
  <%= @user.name %>
</h3>

<div class="row">
  <%= displaylist(@past_events)%>
</div>

<%= link_to 'Back', users_path %>
