<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Attendees:</strong>
  <% @event_attendees.each do |attendee| %>
    <%= attendee.name %>
  <% end %>
</p>

<%= link_to 'BUY', "/buy/#{@event.id}" %>
<br>


<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', root_path %>
