<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= display_propper_flash %>
    <%= yield %>
    <% unless current_user %>
      <%= "Logged in as #{session[:name]}" %>
      <%= link_to "(logout)", logout_path %>
    <% else %>
      <%= link_to "(login)", login_path %>
    <% end %>
  </body>
</html>
